/**
 * Css for buttons
 * @author Florimel Flotté, Salomé Rebours, Enola Roudaut
 * @version 30/04/2021
 */

/* Green buttons */
.button_green {
    -fx-text-alignment: center;
    -fx-background-color: linear-gradient(#DCFAC5,#B2CB9E);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: grey;
}
.button_green:hover {
    -fx-background-color: linear-gradient(#BEFF8B,#9BD071);
}
.button_green:pressed {
    -fx-background-color: #91CC63;
}

/* Red buttons */
.button_red {
    -fx-text-alignment: center;
    -fx-background-color: linear-gradient(#FAC5C5,#CB9E9E);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: grey;
}
.button_red:hover {
    -fx-background-color: linear-gradient(#FF8B8B,#D07171);
}
.button_red:pressed {
    -fx-background-color: #CC6363;
}

/* Blue buttons */
.button_blue {
    -fx-text-alignment: center;
    -fx-background-color: linear-gradient(#C5E6FA,#A0BBCB);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: grey;
}
.button_blue:hover {
    -fx-background-color: linear-gradient(#FF8B8B,#D07171);
}
.button_blue:pressed {
    -fx-background-color: #CC6363;
}

